html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

html, body, section {
	height: 100%;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

p {
	font-size: 1.5em;
}

#header {
	background-image: url('../media/background.jpg');
	background-size: cover;
	color: white;
	filter: grayscale(50%);
}

	#title {
		position: absolute;
		transform: translate(-50%, -75%);
		left: 50%;
		top: 50%;
		text-align: center;
	}

	#title h1 {
		text-shadow: 0px 0px 50px #404040;
	}

#screens {
	background-image:	 	  linear-gradient(90deg, #8bc34a, #00bcd4);
}

.my-container {
	padding: 3% 20%;
	text-align: center;
	color: white;
}

.container-title {
	margin: 3% 0;
}

#points {
	background-color: white;
}

	#points .container-title {
		color: #a3a3a3;
	}

	#points {
		padding: 3% 0%;
	}

	.icon.major	{
	    border-color: rgba(255, 255, 255, 0.35);
	}

	@media screen and (max-width: 1680px) {
		.icon.major:before {
		    font-size: 5.5rem;
		}
	}

	.icon.major {
	    border: solid 1px;
	    display: inline-block;
	    border-radius: 100%;
	    padding: 0.65em;
	    margin: 0 0 2em 0;
	    cursor: default;
	    transition: 0.3s ease-in-out;
	}

	.icon.major:hover {
		cursor: pointer;
	}

	.icon.major.activated {
		color: white;
		background-color: #a3a3a3;
	}

	#head-text, #sub-text {
		color: #A3A3A3;
	}

	#head-text {
		font-size: 28px;
	}

	.icon.major:before {
	    display: inline-block;
	    font-size: 6.25rem;
	    width: 2.25em;
	    height: 2.25em;
	    line-height: 2.2em;
	    border-radius: 100%;
	    border: solid 1px;
	    text-align: center;
	}

	.block {
		background-color: white;
		border-radius: 25px;
		color: #a3a3a3;
		padding: 20px;
		margin: 5% 3% !important;
	}

	.point-icon {
		width: 25% !important;
		margin: 0 !important;
	}

	#sub-text {
		padding: 20px;
	}

@media (min-width: 560px) {

	.point-icon {
		width: 50% !important;
	}
}

@media (min-width: 1180px) {

	#points {
		padding: 3% 10%;
	}

	.point-icon {
		width: 25% !important;
	}

}

@media (min-width: 1550px) {

	#points {
		padding: 3% 20%;
	}

}



#team {
	background-image: linear-gradient(135deg, #8bc34a, #00bcd4);
}

#team.my-container {
	padding: 3% 10%;
}

	.team-pic {
		margin: auto;
		width: 50%;
	}

	.team-pic img {
		border-radius: 50%;
		filter: grayscale(100%);
	}

	.team-pic img:hover {
		filter: grayscale(0%);
	}

#contact {
	height: 50%;
	/*background-color: black;*/
	background-color: #212121;
	color: white;
}
	#contact .container-body {
		margin: 10% auto;
	}

	#contact a {
		color: white;
		margin-left: 2ch;
	}
